/* make sure things compile and you can use silent classes as well as mixins (for media queries) */
@import '../app/assets/stylesheets/fault';

body {
  @extend %body;
}

a {
  @extend %a;
}

h2 {
  @media(max-width: 1024px) {
    @include h2;
  }
}
